

body {
	font-family: 'Poppins', sans-serif;
	color: #2c3e50;
}

.navbar-default .navbar-brand {
    color: #2c3e50 !important;
    font-size: 24px !important;
    font-weight: 600 !important;
}

.navbar-default .navbar-nav>li>a {
    color: #2c3e50;
}

.navbar-brand, .navbar-nav>li>a {
    line-height: 80px;
    font-weight: bold;
    height: 80px;
    padding: 0 15px;
    letter-spacing: -0.025eml;
}

.navbar-brand {
    /*font-size: 24px;*/
    letter-spacing: -0.05em;
}
.navbar-nav>li>a{
	font-size: 12px;
	font-weight: 600;
}

/*.section-background{
	background-image: url('C:/xampp/htdocs/indigo_site/images/blog3.jpeg');
	background-position: center center;
	width: 100%;
	height: max-height;

}*/
.background-image {
    background: url("../images/hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 0;
	background-size: cover;
	opacity: .2;
}
.background-image2 {
    background: url("../images/hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 700px;
    left: 0;
    z-index: 0;
    background-size: cover;
    opacity: .2;
}
/*.section{
	position: relative;
	overflow: hidden;
}*/
.section{
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
    overflow: hidden;
}
.dark_bg{
	
 color: #FFF;
}

.background-dark {
    background-color: #2c3e50;
}
.background-primary {
    background-color: #1abc9c !important;
}
.hero_image{
	padding-top: 200px;
	padding-bottom: 200px;
	text-align: center;
}

.h2_class{
	color: #ffffff !important;
	text-transform: uppercase;
	font-weight: bold;
	font-size:36px;
    padding: 30px 60px;
    text-align: center;
    border: 1px solid white;
    display: inline-block;
}

.navbar-default {
    /*background-color: #f8f8f8;*/
    border-color: #ffffff !important;
}
.para{
	text-align: center;
	color: #FFFFFF !important;
    font-size: 24px;
    margin: 30px 0;
    margin-bottom: 40px;
    max-width: 59%;

    }
.para1{
    text-align: center;
    /*color: #FFFFFF !important;*/
    font-size: 24px;
    margin: 30px 0;
    margin-bottom: 40px;
    max-width: 59%;

    }


.btn .btn-success{
text-align: center;
color: white;
padding: 10px;
}
.btn .btn-primary{
text-align: center;
color: white;
padding: 10px;
}

.text-center1{
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}
.servie-block{
	display: block;
	margin-bottom: 30px;
	text-align: center;
}

.rocket1{

    width: 80px;
    height: 80px;
    display: inline-block;
    line-height: 80px;
    text-align: center;
    border-radius: 40px;
    font-size: 25px;
    background: #FFF;
    box-shadow: 0 10px 20px rgba(0,0,0,.05);
}

button>a{
	color: #ffffff;
}
button>a:hover{
	color: #ffffff;
}

.btn-primary {
    background-color: #1abc9c !important;
    border-color: #1abc9c !important;
}
.our_services{
    position: relative;
    display: block;
}

.text_padding{
    
}